<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="shortcut icon" href="../img/icons/icon-48x48.png" />
    <link rel="canonical" href="https://demo-basic.adminkit.io/" />
    <title>Remuneraciones</title>
    <link href="/css/app.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="wrapper">
      <!-- inicio menu lateral-->
        {{> menuLateral }}
      <!-- fin menu lateral-->

      <div class="main">
        <!-- inicio menu superior-->
        {{> menuSuperior }}
		    <!-- fin menu superior-->
		
		<!-- inicio contenido principal-->		
        <main class="content">
          <div class="container-fluid p-0">
			    

          <!-- inicio trabajador-->
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <div class="m-sm-3">
                    <form id="formularioTrabajador">
                      <div class="mb-3">
                        <label class="form-label">Nombre</label>
                        <input class="form-control form-control-lg" type="text" name="nombre" placeholder="" />
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Rut</label>
                        <input class="form-control form-control-lg" type="text" name="rut" placeholder="" />
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Fecha Nacimiento</label>
                        <input class="form-control form-control-lg" type="date" name="fechaNacimiento" placeholder="" />
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Telefono</label>
                        <input class="form-control form-control-lg" type="text" name="telefono" placeholder="" />
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Fecha ingreso</label>
                        <input class="form-control form-control-lg" type="date" name="fechaIngreso" placeholder="" />
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Cargo</label>
                        <input class="form-control form-control-lg" type="text" name="cargo" placeholder="" />
                      </div>                                
                      <div class="mb-3">
                        <label class="form-label">Tipo contrato</label>
                        <select class="form-control form-control-lg" name="tipoContrato">
                          {{#each tipoContrato}}
                            <option value='{{ nombre }}'>{{ nombre }}</option>
                          {{/each}}
                        </select>
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Sueldo base</label>
                        <input class="form-control form-control-lg" type="text" name="sueldoBase" placeholder="" />
                      </div>
                      <div class="mb-3">
                        <label class="form-label">AFP</label>
                        <select class="form-control form-control-lg" name="afp">
                          {{#each afp}}
                            <option value='{{ nombre }}'>{{ nombre }}</option>
                          {{/each}}
                        </select>
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Salud</label>
                        <select class="form-control form-control-lg" name="salud">
                          {{#each salud}}
                            <option value='{{ nombre }}'>{{ nombre }}</option>
                          {{/each}}
                        </select>                        
                      </div>                                                                
                      <div class="mb-3">
                        {{!-- <a href="javascript:void(0)" class="btn btn-primary" onclick="guardarTrabajador();">Registrar</a> --}}
                         <button type="submit" value="Enviar" id="btnSend" class="btn btn-primary">Enviar</button>
                      </div>
                      <div class="mb-3">
                          <a href="/remuneraciones/trabajador" class="btn btn-secondary">Volver</a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
         



        </div>
        </main>
		<!-- fin contenido principal-->	

      </div>
    </div>

    <script src="/js/app.js"></script>
    <script src="/js/trabajador.js"></script>

  </body>
</html>
