<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <style>
            @page {
                    size: A4 landscape !important;
                }
                .wrapper {
                    display: block;
                    float: left;
                    break-inside: avoid;
                    }
        </style>
    </head>
    <body>
        {{#each liquidacion}}
        <div class="row" >
            <div class="col-6" style="border-colort">
                <table>
                    <tr>
                        <td>{{empresa.nombre}}</td>
                    </tr>
                    <tr>
                        <td>{{empresa.rut}}</td>
                    </tr>
                    <tr>
                        <td>{{empresa.direccion}}</td>
                    </tr>  

                    <tr>
                        <td class="text-center" colspan="3"><h5>LIQUIDACION SUELDO MENSUAL</h5></td>
                    </tr>                                      
                    <tr>
                        <td><h5>MES DE </h5></td>
                        <td><h5>{{fecha_liquidacion.mes}} de {{fecha_liquidacion.anio}}</h5></td>
                        <td>{{trabajador.cargo}}</td>
                    </tr>   
                    <tr>
                        <td><b>{{trabajador.nombreTrabajador}}</b></td>
                        <td><b>{{trabajador.rutTrabajador}}</b></td>
                        <td>{{trabajador.tipoContrato}}</td>
                    </tr> 
                    <tr>
                        <td>&nbsp;</td>
                        <td>bono_responsabilidad</td>
                        <td class="text-end">{{ formatoPeso descuentos_imponibles.bono_responsabilidad}}</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>bono_asistencia</td>
                        <td class="text-end">{{ formatoPeso descuentos_imponibles.bono_asistencia}}</td>
                    </tr>  
                    <tr>
                        <td>&nbsp;</td>
                        <td>horas_extras</td>
                        <td class="text-end">{{ formatoPeso descuentos_imponibles.horas_extras}}</td>
                    </tr>     
                    <tr>
                        <td>&nbsp;</td>
                        <td>gratificacion</td>
                        <td class="text-end">{{ formatoPeso descuentos_imponibles.gratificacion}}</td>
                    </tr>                                                                             
                    <tr>
                        <td colspan="2"> Total rem. imponible</td>
                        <td class="text-end">{{formatoPeso total_descuentos_imponibles}}</td>
                    </tr>     
                    <tr>
                        <td>&nbsp;</td>
                        <td>afp</td>
                        <td class="text-end">{{ formatoPeso descuentos_legales.afp}}</td>
                    </tr> 
                    <tr>
                        <td>&nbsp;</td>
                        <td>salud</td>
                        <td class="text-end">{{ formatoPeso descuentos_legales.salud}}</td>
                    </tr> 
                    <tr>
                        <td>&nbsp;</td>
                        <td>seguroCesantia</td>
                        <td class="text-end">{{ formatoPeso descuentos_legales.seguroCesantia}}</td>
                    </tr>
                                        <tr>
                        <td>&nbsp;</td>
                        <td>caja_compensacion</td>
                        <td class="text-end">{{ formatoPeso descuentos_legales.caja_compensacion}}</td>
                    </tr>
                                        <tr>
                        <td>&nbsp;</td>
                        <td>sindicato</td>
                        <td class="text-end">{{ formatoPeso descuentos_legales.sindicato}}</td>
                    </tr>
                                        <tr>
                        <td>&nbsp;</td>
                        <td>impuesto_renta</td>
                        <td class="text-end">{{ formatoPeso descuentos_legales.impuesto_renta}}</td>
                    </tr>                                        
                    <tr>
                        <td colspan="2"> Total haberes</td>
                        <td class="text-end">{{formatoPeso total_descuentos_imponibles}}</td>
                    </tr>
                    <tr>
                        <td colspan="2"> Total descuentos</td>
                        <td class="text-end">{{formatoPeso total_descuentos_legales}}</td>
                    </tr>
                    <tr>
                        <td colspan="2"> Otros descuentos</td>
                        <td class="text-end">0</td>
                    </tr>                      
                    <tr>
                        <td colspan="2"> Saldo Liquido</td>
                        <td class="text-end">{{ formatoPeso saldo_liquido}}</td>
                    </tr> 
                    <tr>
                        <td colspan="3" >
                            <span>
                                Certifico qie he recibido de {{ empresa.nombre }}
                                a mi entera satisfaccion el saldo indicado en la presente 
                                liquidacion y no tengo cargo ni cobro alguno posterior
                                que efectuar
                            </span>
                        </td>
                    </tr>                                                           
                </table>
            </div>
            <div class="col-6 wrapper" style="border-colort">
                <table>
                    <tr>
                        <td>{{empresa.nombre}}</td>
                    </tr>
                    <tr>
                        <td>{{empresa.rut}}</td>
                    </tr>
                    <tr>
                        <td>{{empresa.direccion}}</td>
                    </tr>  

                    <tr>
                        <td class="text-center" colspan="3"><h5>LIQUIDACION SUELDO MENSUAL</h5></td>
                    </tr>                                      
                    <tr>
                        <td><h5>MES DE </h5></td>
                        <td><h5>{{fecha_liquidacion.mes}} de {{fecha_liquidacion.anio}}</h5></td>
                        <td>{{trabajador.cargo}}</td>
                    </tr>   
                    <tr>
                        <td><b>{{trabajador.nombreTrabajador}}</b></td>
                        <td><b>{{trabajador.rutTrabajador}}</b></td>
                        <td>{{trabajador.tipoContrato}}</td>
                    </tr> 
                    <tr>
                        <td>&nbsp;</td>
                        <td>bono_responsabilidad</td>
                        <td class="text-end">{{ formatoPeso descuentos_imponibles.bono_responsabilidad}}</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>bono_asistencia</td>
                        <td class="text-end">{{ formatoPeso descuentos_imponibles.bono_asistencia}}</td>
                    </tr>  
                    <tr>
                        <td>&nbsp;</td>
                        <td>horas_extras</td>
                        <td class="text-end">{{ formatoPeso descuentos_imponibles.horas_extras}}</td>
                    </tr>     
                    <tr>
                        <td>&nbsp;</td>
                        <td>gratificacion</td>
                        <td class="text-end">{{ formatoPeso descuentos_imponibles.gratificacion}}</td>
                    </tr>                                                                             
                    <tr>
                        <td colspan="2"> Total rem. imponible</td>
                        <td class="text-end">{{formatoPeso total_descuentos_imponibles}}</td>
                    </tr>     
                    <tr>
                        <td>&nbsp;</td>
                        <td>afp</td>
                        <td class="text-end">{{ formatoPeso descuentos_legales.afp}}</td>
                    </tr> 
                    <tr>
                        <td>&nbsp;</td>
                        <td>salud</td>
                        <td class="text-end">{{ formatoPeso descuentos_legales.salud}}</td>
                    </tr> 
                    <tr>
                        <td>&nbsp;</td>
                        <td>seguroCesantia</td>
                        <td class="text-end">{{ formatoPeso descuentos_legales.seguroCesantia}}</td>
                    </tr>
                                        <tr>
                        <td>&nbsp;</td>
                        <td>caja_compensacion</td>
                        <td class="text-end">{{ formatoPeso descuentos_legales.caja_compensacion}}</td>
                    </tr>
                                        <tr>
                        <td>&nbsp;</td>
                        <td>sindicato</td>
                        <td class="text-end">{{ formatoPeso descuentos_legales.sindicato}}</td>
                    </tr>
                                        <tr>
                        <td>&nbsp;</td>
                        <td>impuesto_renta</td>
                        <td class="text-end">{{ formatoPeso descuentos_legales.impuesto_renta}}</td>
                    </tr>                                        
                    <tr>
                        <td colspan="2"> Total haberes</td>
                        <td class="text-end">{{formatoPeso total_descuentos_imponibles}}</td>
                    </tr>
                    <tr>
                        <td colspan="2"> Total descuentos</td>
                        <td class="text-end">{{formatoPeso total_descuentos_legales}}</td>
                    </tr>
                    <tr>
                        <td colspan="2"> Otros descuentos</td>
                        <td class="text-end">0</td>
                    </tr>                      
                    <tr>
                        <td colspan="2"> Saldo Liquido</td>
                        <td class="text-end">{{ formatoPeso saldo_liquido}}</td>
                    </tr> 
                    <tr>
                        <td colspan="3" >
                            <span>
                                Certifico qie he recibido de {{ empresa.nombre }}
                                a mi entera satisfaccion el saldo indicado en la presente 
                                liquidacion y no tengo cargo ni cobro alguno posterior
                                que efectuar
                            </span>
                        </td>
                    </tr>                                                           
                </table>
            </div>     
        </div>
        {{/each}}
    </body>
</html>